:root {
    --color-red: #F51B1B;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-white-40: rgba(255, 255, 255, 0.4);
}

@font-face {
  src: url(./fonts/Redcollar.woff2) format('woff2');
  font-family: 'Redcollar';
}

@font-face {
  src: url(./fonts/TTCommonsRegular.woff) format('woff');
  font-family: 'TTCommons';
}

html {
  font-size: 62.5%;
}

.root {
  font-family: 'Redcollar';
  background-color: black;
  color: white;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  padding: 4rem;
  max-width: 144rem;
  margin: 0 auto;
}


.header {
  position: relative;
}

.header__logo {
  position: absolute;
  right: 0;
  top: -1.2rem;
}


.main {
  display: grid;
  grid-template-columns: 32.2rem 1fr;
  gap: 3.1rem;
}


.aside {
  position: relative;
  max-width: 32.2rem;
}

.aside__photo {
  width: 100%;
}

.aside::before {
  content: url(' ./img/photo-decor.png ');
  position: absolute;
  top: 3.5rem;
  left: 14.5rem;
  z-index: 10;
  transform: rotate(40deg);
}


.info {
  position: relative;
  background-color: red;
  padding: 4rem 2.4rem;
  margin-top: -2rem;
  min-height: 45.4rem;
  border-radius: 2.4rem 2.4rem 0 0;
  z-index: 1;
}

.info::before {
  content: url(' ./img/about-arrow-top.svg ');
  position: absolute;
  top: -19px;
  left: 13.1rem;
}

.info__name {
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.1rem;
  margin: 0;
}

.info__extra {
  font-family: TTCommons;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -0.1rem;
  margin: 0.8rem 0 4rem 0;
}


.contact {
  padding: 0;
}

.contact__list {
  list-style-type: none;
}

.contact__list:not(:last-child) {
  margin-bottom: 2rem;
}

.contact__link {
  display: flex;
  align-items: center;

  font-family: TTCommons;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -0.1rem;

  text-decoration: none;
  color: white;
}

.contact__link-icon {
  margin-right: 1.6rem;
}

.about {
  margin-top: 1.8rem;
}


.about__text {
  font-family: TTCommons;
  font-size: 2rem;
  max-width: 69rem;
}

.about__skills {
  position: relative;
  border: 1px solid white;
  padding: 4.8rem 2.8rem;
  min-height: 58.6rem;
}

.about__skills::before {
  content: url(' ./img/arrow.svg ');
  position: absolute;
  top: -1px;
  z-index: 10;
  left: 57px;
}

.about__skills-block {
  display: grid;
  grid-template-columns: 14rem 1fr;
  column-gap: 5.6rem;
}

.about__skills-block:not(:last-child) {
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
}

.about__skills-heading {
  margin: 0;
  font-size: 1.6rem;
}

.about__skills-text {
  margin: 0;
  font-family: TTCommons;
  font-style: normal;
  font-size: 1.8rem;
}

.about__skills-text:last-child {
  margin-bottom: 2rem;
}

.about__skills-text:not(:first-child) {
  opacity: 0.4;
}

@media (max-width: 360px) {
  .page {
    padding: 2rem;
  }
  .header__logo {
    left: 0;
  }

  .main {
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }

  .about__skills-block {
    grid-template-columns: 1fr;
  }

  .info::before {
    left: 13rem;
  }
  .about__skills-heading {
    margin-bottom: 3rem;
    font-size: 1.6rem;
  }
  .about__skills::before {
    left: 124px;
  }
}
